<script src="/dles/js/header.js"></script>

<div class="header-inner">
    <div class="header-box header-top">
        <div class="header-left">
            <h1 class="logo">
                <a href="/index.html"><img src="./dles/img/logo.png" alt=""></a>
            </h1>
        </div>
        <div class="header-right">
            <ul class="gnb" >
                <li><a href="/index.html">Home</a></li>
                <li><a href="#none">About Me</a></li>
                <li><a href="#none">Projects</a></li>
                <li><a href="#none">Etc</a></li>
                <li class="red"><a href="#none">Contect Me</a></li>
            </ul>
        </div>
    </div>
</div>

